# Dexcom API (https://developer.dexcom.com/)
# Créer une application et configurer la redirect URI : http://localhost:3000/dexcom/callback
DEXCOM_CLIENT_ID=
DEXCOM_CLIENT_SECRET=

# Utiliser le sandbox Dexcom pour les tests (true/false)
DEXCOM_SANDBOX=true
