PORT=5000
DEXCOM_ENV=sandbox
DEXCOM_CLIENT_ID=replace_with_your_dexcom_client_id
DEXCOM_CLIENT_SECRET=replace_with_your_dexcom_client_secret
DEXCOM_REDIRECT_URI=http://127.0.0.1:5000/dexcom_connection/callback
