<%# Gabarit HTML du mail de reinitialisation : variables @user et @reset_url (UserMailer#password_reset). %>
<p>Bonjour <%= @user.name %>,</p>

<p>Une demande de reinitialisation de mot de passe a ete recue pour votre compte DiabetCare.</p>

<p>
  <%= link_to "Choisir un nouveau mot de passe", @reset_url %>
</p>

<p>Ce lien restera valide pendant 30 minutes.</p>

<p>Si vous n'etes pas a l'origine de cette demande, vous pouvez ignorer cet email.</p>
